@model TodoItemModel
@{
    ViewData["Title"] = "NewTodoItem";
}
<h2>New Item</h2>
@using (Html.BeginForm("CreateNewItem", "NewTodoItem", FormMethod.Post))
{
    <div align="left" class="well" style="background:white">
        <div align="center">
            @Html.Label("Title")
            <br />
            @Html.TextBoxFor(model => model.Title, new { @class = "input-xlarge", @id = "textBox-itemTitle" })
            <br />
            @Html.ValidationMessageFor(model => model.Title, null, new { @class = "help-inline", @id = "validation-itemTitle-message" })
            <br />
            <br />
        </div>
        <div align="center" class="">
            @Html.Label("Description")
            <br />
            @Html.TextAreaFor(model => model.Description, new { @class = "input-xlarge", @id = "textBox-itemDescription", @cols="80", @rows="4" })
            <br />
            @Html.ValidationMessageFor(model => model.Description, null, new { @class = "help-inline", @id = "validation-itemDescription-message" })
            <br />
            <br />
        </div>
        
        <div align="center">
            <button type="submit" id="button-addItem">New Item</button>
        </div>
    </div>
}
