@model GroupTodoListModel

@{
    ViewData["Title"] = "ERNI List";
}
<h2>ERNI List</h2>
<table>
    <tbody>
        <tr>
            <td class="col-lg-2">
                <nav>
                    <ul class="nav nav-pills nav-stacked span2">
                        @foreach (var group in Model.Groups)
                        {
                            <li><a href="#">@group.Title</a></li>
                        }
                        
                        <li>
                            @Html.ActionLink("New Group", "GroupTodoList", "CreateNewGroup")
                        </li>

                        @*<li><a href="#">New Group</a></li>*@
                    </ul>
                </nav>
            </td>
            <td class="col-lg-10">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                @foreach (var item in Model.Groups.First().TodoList)
                {
                    <div class="well" style="background:white">
                        <h3>@item.Title</h3>
                        <h4>@item.Description</h4>
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </div>
                    </div>
                }
            </td>
        </tr>
    </tbody>
</table>
    
    

    

